<tr class="volume_price fields">
  <td>
    <%= error_message_on(f.object, :name) %>
    <%= f.text_field :name, size: 10, class: 'form-control' %>
  </td>
  <td>
    <%= error_message_on(f.object, :discount_type) %>
    <%= f.select :discount_type, [
        ["#{I18n.t('spree.total_price')}", 'price'],
        ["#{I18n.t('spree.percent_discount')}", 'percent'],
        ["#{I18n.t('spree.price_discount')}", 'dollar']
      ], { include_blank: true }, class: 'select2' %>
  </td>
  <td>
    <%= error_message_on(f.object, :range) %>
    <%= f.text_field :range, size: 10, class: 'form-control' %>
  </td>
  <td>
    <%= error_message_on(f.object, :amount) %>
    <%= f.text_field :amount, size: 10, class: 'form-control' %>
  </td>
  <td>
    <%= error_message_on(f.object, :position) %>
    <%= f.text_field :position, size: 3, class: 'form-control' %>
  </td>
  <td>
    <%= error_message_on(f.object, :role_id) %>
    <%= f.collection_select(:role_id, Spree::Role.all, :id, :name, { include_blank: I18n.t('spree.match_choices.none') }, { class: 'select2' }) %>
  </td>
  <td class="actions">
    <%= link_to_remove_fields I18n.t('spree.remove'), f, no_text: true %>
  </td>
</tr>
