<div data-hook="admin_inside_volume_price_model_form" class="form-group">
  <%= f.field_container :name, class: ['form-group'] do %>
    <%= f.label :name, I18n.t('spree.name') %> <span class="required">*</span>
    <%= error_message_on :volume_price_model, :name, :class => 'error-message' %>
    <%= text_field :volume_price_model, :name, :class => 'form-control' %>
  <% end %>

  <h3><%= I18n.t('spree.volume_prices') %></h3>

  <%= render 'spree/admin/volume_prices/table', f: f %>
</div>
